body {
    background-color: #ddd;
}

.container {
    display: flex;
    width: 1000px;
    background-color: #fff;
}

.box {
    width: 100px;
    height: 100px;
}

.first {
    background-color: red;
}
.second {
    background-color: green;
}
.third {
    background-color: blue;
}