<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="nav_bar navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/img/guia.png" alt="">                
        </a>
    </nav>

    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar Perguntas</h3>
            </div>

            <div class="card-body">
                <form action="">
                    <label for="titulo">Título</label>
                    <input type="text" name="tiutlo" id="titulo" class="form-control">
                    
                    <label for="descricao">Descrição</label>
                    <textarea name="descricao" id="descricao" cols="30" rows="5" 
                        class="form-control"></textarea>   
                    
                    <br>
                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>