<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diretivas 01</title>
    
</head>
<body>
    <div id="app">
        
       <h1 v-if="show" key="mostrar">mostrar texto</h1>

       <h1 v-if="ticket >=50" key="avalieble">Ingressos disponiveis</h1>
       <h1 v-else-if="ticket < 50" key="sometickets">Ingressos acabando</h1>
       <h1 v-else="ticket" key="empty">Ingressos acabaram</h1>

    </div>

    <script src="vue.js"></script>
    

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                show: true,
                ticket: 100
            },
        
        })

    </script>
</body>
</html>