<script src="https://unpkg.com/vue"></script>
<style>
    
</style>

<div id="app">
    <p v-if="isLogged">Usuário logado: {{ nome }}</p>
    <p v-else-if="isAnonymous">Navegando como usuário anônimo!</p>
    <p v-else>Nenhum usuário logado!</p>
    <button @click="isLogged = !isLogged">{{ isLogged ? 'Sair' : 'Entrar'}}</button>
    <input type="checkbox" v-model="isAnonymous">Anônimo
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            nome: 'Ronie',
            isLogged: false,
            isAnonymous: false
        }
    })
</script>